In [1]:
import pandas as pd

In [2]:
## read in austin data
atx_data = pd.read_csv("AustinClean.csv")
atx_data

,Unnamed: 0,OutcomeType,Sex,AgeMonth,Breed,Color,BreedCategory,PrimaryBreed,SecondaryBreed,PrimaryColor,SecondColor,Pet_age_category,Binary_outcome
0,0,Adoption,Female,1.000000,Border Collie Mix,Chocolate/White,Mix,Border Collie Mix,NaN,Chocolate,White,Baby,Take
1,1,Transfer,Male,0.066667,German Shepherd Mix,Brown,Mix,German Shepherd Mix,NaN,Brown,NaN,Baby,Deny
2,2,Transfer,Male,0.066667,Labrador Retriever Mix,Black/White,Mix,Labrador Retriever Mix,NaN,Black,White,Baby,Deny
3,4,Transfer,Female,0.066667,Dachshund Mix,Brown,Mix,Dachshund Mix,NaN,Brown,NaN,Baby,Deny
4,6,Transfer,Female,0.066667,Pit Bull Mix,Chocolate/White,Mix,Pit Bull Mix,NaN,Chocolate,White,Baby,Deny
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48020,66772,Euthanasia,Male,216.000000,Miniature Schnauzer Mix,Gray,Mix,Miniature Schnauzer Mix,NaN,Gray,NaN,Senior,Deny
48021,66774,Adoption,Male,216.000000,Chihuahua Longhair Mix,White/Tan,Mix,Chihuahua Longhair Mix,NaN,White,Tan,Senior,Take
48022,66786,Euthanasia,Female,228.000000,Miniature Poodle,White,Pure,Miniature Poodle,NaN,White,NaN,Senior,Deny
48023,66787,Transfer,Male,228.000000,Chihuahua Shorthair Mix,Brown,Mix,Chihuahua Shorthair Mix,NaN,Brown,NaN,Senior,Deny
48024,66790,Euthanasia,Female,228.000000,Chihuahua Longhair/Miniature Poodle,White,Two,Chihuahua Longhair,Miniature Poodle,White,NaN,Senior,Deny

In [3]:
#drop columns
atx_df = atx_data.drop(columns=['Unnamed: 0', 
                       'AgeMonth', 
                       'Breed',
                       'Color',
                       'SecondaryBreed',
                        'SecondColor',
                        'Binary_outcome'])
atx_df

,OutcomeType,Sex,BreedCategory,PrimaryBreed,PrimaryColor,Pet_age_category
0,Adoption,Female,Mix,Border Collie Mix,Chocolate,Baby
1,Transfer,Male,Mix,German Shepherd Mix,Brown,Baby
2,Transfer,Male,Mix,Labrador Retriever Mix,Black,Baby
3,Transfer,Female,Mix,Dachshund Mix,Brown,Baby
4,Transfer,Female,Mix,Pit Bull Mix,Chocolate,Baby
...,...,...,...,...,...,...
48020,Euthanasia,Male,Mix,Miniature Schnauzer Mix,Gray,Senior
48021,Adoption,Male,Mix,Chihuahua Longhair Mix,White,Senior
48022,Euthanasia,Female,Pure,Miniature Poodle,White,Senior
48023,Transfer,Male,Mix,Chihuahua Shorthair Mix,Brown,Senior
48024,Euthanasia,Female,Two,Chihuahua Longhair,White,Senior

In [4]:
## read in luoisville data
lky_data = pd.read_csv("LouisvilleClean.csv")
lky_data

,Unnamed: 0,PrimaryColor,PrimaryBreed,IntakeInternalStatus,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeType,AgeInMonths,DurationInShelter,BreedCategory,Pet_age_category,Binary_outcome,Sex
0,4,WHITE,PIT BULL TERRIER,NORMAL,HEALTHY,FERTILE,EUTH,12.17,29.0,Pure,Young,Deny,Male
1,51,BLACK,BORDER COLLIE,NORMAL,HEALTHY,ALTERED,ADOPTION,10.17,108.0,Mix,Young,Take,Female
2,69,TAN,GOLDEN RETRIEVER,NORMAL,HEALTHY,ALTERED,ADOPTION,23.43,56.0,Mix,Young,Take,Male
3,99,WHITE,LABRADOR RETRIEVER,NORMAL,HEALTHY,ALTERED,ADOPTION,0.17,183.0,Pure,Baby,Take,Female
4,103,BLACK,PIT BULL TERRIER,SICK,HEALTHY,FERTILE,EUTH,11.90,0.0,Pure,Young,Deny,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...
42817,150835,APRICOT,DANDIE DINMONT TERRIER,NORMAL,HEALTHY,FERTILE,ADOPTION,36.53,109.0,Mix,Adult,Take,Male
42818,150836,BLACK,DACHSHUND - WIREHAIRED,NORMAL,HEALTHY,FERTILE,ADOPTION,36.53,71.0,Pure,Adult,Take,Female
42819,150837,YELLOW BRINDLE,GREYHOUND,NORMAL,HEALTHY,FERTILE,ADOPTION,24.13,140.0,Mix,Adult,Take,Male
42820,150838,CREAM,CAIRN TERRIER,NORMAL,HEALTHY,FERTILE,ADOPTION,7.07,7.0,Pure,Young,Take,Female
42821,150839,BLACK,MINIATURE PINSCHER,NORMAL,HEALTHY,ALTERED,TRANSFER,51.30,8.0,Pure,Adult,Deny,Male

In [5]:
##drop columns
lky_df = lky_data.drop(columns=['Unnamed: 0',
                       'IntakeInternalStatus', 
                       'IntakeAsilomarStatus', 
                       'ReproductiveStatusAtIntake',
                       'AgeInMonths',
                        'DurationInShelter',
                        'Binary_outcome'])
lky_df

,PrimaryColor,PrimaryBreed,OutcomeType,BreedCategory,Pet_age_category,Sex
0,WHITE,PIT BULL TERRIER,EUTH,Pure,Young,Male
1,BLACK,BORDER COLLIE,ADOPTION,Mix,Young,Female
2,TAN,GOLDEN RETRIEVER,ADOPTION,Mix,Young,Male
3,WHITE,LABRADOR RETRIEVER,ADOPTION,Pure,Baby,Female
4,BLACK,PIT BULL TERRIER,EUTH,Pure,Young,Male
...,...,...,...,...,...,...
42817,APRICOT,DANDIE DINMONT TERRIER,ADOPTION,Mix,Adult,Male
42818,BLACK,DACHSHUND - WIREHAIRED,ADOPTION,Pure,Adult,Female
42819,YELLOW BRINDLE,GREYHOUND,ADOPTION,Mix,Adult,Male
42820,CREAM,CAIRN TERRIER,ADOPTION,Pure,Young,Female
42821,BLACK,MINIATURE PINSCHER,TRANSFER,Pure,Adult,Male

In [6]:
#drop null rows
lky_df = lky_df.dropna(axis=0, subset=["Pet_age_category"])
atx_df = atx_df.dropna(axis=0, subset=["Pet_age_category"])

In [7]:
##combine the data
df = pd.concat([lky_df, atx_df], axis=0)
df

c:\users\terri\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,BreedCategory,OutcomeType,Pet_age_category,PrimaryBreed,PrimaryColor,Sex
0,Pure,EUTH,Young,PIT BULL TERRIER,WHITE,Male
1,Mix,ADOPTION,Young,BORDER COLLIE,BLACK,Female
2,Mix,ADOPTION,Young,GOLDEN RETRIEVER,TAN,Male
3,Pure,ADOPTION,Baby,LABRADOR RETRIEVER,WHITE,Female
4,Pure,EUTH,Young,PIT BULL TERRIER,BLACK,Male
...,...,...,...,...,...,...
48020,Mix,Euthanasia,Senior,Miniature Schnauzer Mix,Gray,Male
48021,Mix,Adoption,Senior,Chihuahua Longhair Mix,White,Male
48022,Pure,Euthanasia,Senior,Miniature Poodle,White,Female
48023,Mix,Transfer,Senior,Chihuahua Shorthair Mix,Brown,Male
48024,Two,Euthanasia,Senior,Chihuahua Longhair,White,Female

In [8]:
##Primary breed column more uniform
df.loc[df['PrimaryBreed'].str.contains('Mix'), 'PrimaryBreed'] = df.loc[df['PrimaryBreed'].str.contains('Mix'), 'PrimaryBreed'].str.replace(' Mix', '')
df['PrimaryBreed'] = df["PrimaryBreed"].str.upper()

In [9]:
##outcome column more uniform and reset index
df['OutcomeType'] = df["OutcomeType"].str.upper()
df = df.reset_index(drop=True)
df

,BreedCategory,OutcomeType,Pet_age_category,PrimaryBreed,PrimaryColor,Sex
0,Pure,EUTH,Young,PIT BULL TERRIER,WHITE,Male
1,Mix,ADOPTION,Young,BORDER COLLIE,BLACK,Female
2,Mix,ADOPTION,Young,GOLDEN RETRIEVER,TAN,Male
3,Pure,ADOPTION,Baby,LABRADOR RETRIEVER,WHITE,Female
4,Pure,EUTH,Young,PIT BULL TERRIER,BLACK,Male
5,Mix,TRANSFER,Baby,ST BERNARD - SMOOTH COATED,WHITE,Female
6,Pure,EUTH,Senior,PIT BULL TERRIER,BROWN,Female
7,Mix,TRANSFER,Young,WIRE-HAIRED POINTING GRIFFON,BROWN,Male
8,Mix,EUTH,Young,BEAGLE,BLACK,Male
9,Mix,FOSTER,Adult,PLOTT HOUND,BROWN BRINDLE,Female
10,Two,TRANSFER,Young,LABRADOR RETRIEVER,BLACK,Female
11,Mix,EUTH,Young,LABRADOR RETRIEVER,BLACK,Male
12,Mix,TRANSFER,Adult,BICHON FRISE,WHITE,Male
13,Mix,EUTH,Baby,GERMAN SHEPHERD DOG,BROWN,Male
14,Pure,ADOPTION,Adult,TIBETAN TERRIER,TAN,Male
15,Mix,EUTH,Senior,SHETLAND SHEEPDOG,TAN,Male
16,Pure,FOSTER,Senior,LABRADOR RETRIEVER,BLACK,Female
17,Pure,ADOPTION,Senior,GOLDEN RETRIEVER,TAN,Male
18,Pure,TRANSFER,Baby,PIT BULL TERRIER,BROWN,Male
19,Pure,MISSING,Young,BEAGLE,BLACK,Female
20,Mix,EUTH,Baby,GERMAN SHEPHERD DOG,BROWN,Female
21,Mix,EUTH,Adult,PIT BULL TERRIER,BROWN BRINDLE,Male
22,Two,EUTH,Adult,LABRADOR RETRIEVER,BLACK,Male
23,Two,TRANSFER,Young,JACK RUSS TER,WHITE,Female
24,Mix,EUTH,Young,PUG,BLACK,Male
25,Pure,RELEASED,Young,PIT BULL TERRIER,BROWN,Male
26,Pure,EUTH,Young,AMERICAN PIT BULL TERRIER,WHITE,Female
27,Mix,TRANSFER,Young,LABRADOR RETRIEVER,BLACK,Male
28,Mix,ADOPTION,Baby,MANCHESTER TERRIER,CHOCOLATE,Male
29,Pure,EUTH,Young,PIT BULL TERRIER,TAN,Male
30,Pure,TRANSFER,Baby,CHIHUAHUA - SMOOTH COATED,BLACK,Male
31,Two,ADOPTION,Young,PEKINGESE,TAN,Male
32,Mix,EUTH,Adult,CHOW CHOW,BROWN,Male
33,Mix,RELEASED,Adult,PIT BULL TERRIER,BROWN,Female
34,Pure,EUTH,Senior,PARSON (JACK) RUSSELL TERRIER,BROWN,Female
35,Pure,ADOPTION,Adult,IRISH TERRIER,TAN,Male
36,Pure,ADOPTION,Adult,BEAGLE,WHITE,Female
37,Pure,EUTH,Young,AMERICAN PIT BULL TERRIER,BROWN BRINDLE,Female
38,Mix,ADOPTION,Young,PARSON (JACK) RUSSELL TERRIER,WHITE,Female
39,Pure,EUTH,Young,LABRADOR RETRIEVER,BLACK,Male
40,Mix,DISPOSAL,Young,BASSET HOUND,BROWN BRINDLE,Male
41,Two,EUTH,Baby,GERMAN SHEPHERD DOG,BLACK,Female
42,Two,EUTH,Baby,ROTTWEILER,BLACK,Female
43,Mix,TRANSPORT,Baby,CHOW CHOW,BROWN,Male
44,Pure,ADOPTION,Young,FRENCH BULLDOG,WHITE,Female
45,Pure,RELEASED,Adult,LABRADOR RETRIEVER,BLACK,Female
46,Mix,DIED,Baby,LABRADOR RETRIEVER,BLACK,Male
47,Mix,EUTH,Adult,LABRADOR RETRIEVER,BLACK,Female
48,Pure,EUTH,Young,PIT BULL TERRIER,WHITE,Female
49,Mix,EUTH,Senior,FOX TERRIER - WIREHAIRED,CREAM,Female

In [28]:
#clean up breed column
breed_counts = df.PrimaryBreed.value_counts()
breed_counts.head(30)

PIT BULL                          14720
LABRADOR RETRIEVER                11915
CHIHUAHUA                          8595
GERMAN SHEPHERD                    5915
BEAGLE                             3558
BOXER                              2653
AUSTRALIAN CATTLE DOG              2215
BORDER COLLIE                      1906
DACHSHUND                          1875
SHIH TZU                           1537
JACK RUSSELL TERRIER               1512
ROTTWEILER                         1483
YORKSHIRE TERRIER                  1201
SIBERIAN HUSKY                     1176
AUSTRALIAN SHEPHERD                1143
AMERICAN STAFFORDSHIRE TERRIER     1070
CHOW CHOW                          1055
RAT TERRIER                         914
GREAT PYRENEES                      775
CAIRN TERRIER                       765
POINTER                             749
MINIATURE POODLE                    746
AMERICAN BULLDOG                    715
CATAHOULA                           699
MINIATURE PINSCHER                  656
PUG                                 644
GOLDEN RETRIEVER                    636
POMERANIAN                          613
POODLE - MINIATURE                  600
COCKER SPANIEL                      599
Name: PrimaryBreed, dtype: int64

In [11]:
#STAFFY
df.loc[df['PrimaryBreed'].str.contains('AMERICAN STAFFORDSHIRE TERRIER'), 'PrimaryBreed'] = df.loc[df['PrimaryBreed'].str.contains('AMERICAN STAFFORDSHIRE TERRIER'), 'PrimaryBreed'].str.replace('AMERICAN STAFFORDSHIRE TERRIER', 'STAFFORDSHIRE')

In [12]:
#STAFFY
df.loc[df['PrimaryBreed'].str.contains('STAFFORDSHIRE'), 'PrimaryBreed'] = df.loc[df['PrimaryBreed'].str.contains('STAFFORDSHIRE'), 'PrimaryBreed'].str.replace('STAFFORDSHIRE', 'AMERICAN STAFFORDSHIRE TERRIER')

In [13]:
#PITTIE
df.loc[df['PrimaryBreed'].str.contains('PIT BULL TERRIER'), 'PrimaryBreed'] = df.loc[df['PrimaryBreed'].str.contains('PIT BULL TERRIER'), 'PrimaryBreed'].str.replace('PIT BULL TERRIER', 'PIT BULL')

In [14]:
#PITTIE
df.loc[df['PrimaryBreed'].str.contains('AMERICAN PIT BULL'), 'PrimaryBreed'] = df.loc[df['PrimaryBreed'].str.contains('AMERICAN PIT BULL'), 'PrimaryBreed'].str.replace('AMERICAN PIT BULL', 'PIT BULL')

In [15]:
#GSD
df.loc[df['PrimaryBreed'].str.contains('GERMAN SHEPHERD DOG'), 'PrimaryBreed'] = df.loc[df['PrimaryBreed'].str.contains('GERMAN SHEPHERD DOG'), 'PrimaryBreed'].str.replace('GERMAN SHEPHERD DOG', 'GERMAN SHEPHERD')

In [16]:
#JRT
df.loc[df['PrimaryBreed'].str.contains('JACK RUSS TER'), 'PrimaryBreed'] = df.loc[df['PrimaryBreed'].str.contains('JACK RUSS TER'), 'PrimaryBreed'].str.replace('JACK RUSS TER', 'JACK RUSSELL TERRIER')

In [17]:
#CHI
df.loc[df['PrimaryBreed'].str.contains('CHIHUAHUA SHORTHAIR'), 'PrimaryBreed'] = df.loc[df['PrimaryBreed'].str.contains('CHIHUAHUA SHORTHAIR'), 'PrimaryBreed'].str.replace('CHIHUAHUA SHORTHAIR', 'CHIHUAHUA')

In [18]:
#CHI
df.loc[df['PrimaryBreed'].str.contains('CHIHUAHUA LONGHAIR'), 'PrimaryBreed'] = df.loc[df['PrimaryBreed'].str.contains('CHIHUAHUA LONGHAIR'), 'PrimaryBreed'].str.replace('CHIHUAHUA LONGHAIR', 'CHIHUAHUA')

In [19]:
#CHI
df.loc[df['PrimaryBreed'].str.contains('CHIHUAHUA - SMOOTH COATED'), 'PrimaryBreed'] = df.loc[df['PrimaryBreed'].str.contains('CHIHUAHUA - SMOOTH COATED'), 'PrimaryBreed'].str.replace('CHIHUAHUA - SMOOTH COATED', 'CHIHUAHUA')

In [20]:
#CHI
df.loc[df['PrimaryBreed'].str.contains('CHIHUAHUA - LONG HAIRED'), 'PrimaryBreed'] = df.loc[df['PrimaryBreed'].str.contains('CHIHUAHUA - LONG HAIRED'), 'PrimaryBreed'].str.replace('CHIHUAHUA - LONG HAIRED', 'CHIHUAHUA')

In [22]:
#ACD 
df.loc[df['PrimaryBreed'].str.contains('QUEENSLAND HEELER'), 'PrimaryBreed'] = df.loc[df['PrimaryBreed'].str.contains('QUEENSLAND HEELER'), 'PrimaryBreed'].str.replace('QUEENSLAND HEELER', 'AUSTRALIAN CATTLE DOG')

In [29]:
top_20_breed = breed_counts.head(20)
top_10_breed = breed_counts.head(10)
top_20_breed.sum()

65983

In [34]:
t20 = round(top_20_breed.sum() / breed_counts.sum(), 4)*100
t10 = round(top_10_breed.sum() / breed_counts.sum(), 4)*100
print(f"{t20}% of data is in top 20 breeds")
print(f"{t10}% of data is in top 10 breeds")

73.68% of data is in top 20 breeds
61.29% of data is in top 10 breeds

In [43]:
#clean up outcome type column
outcome_counts = df.OutcomeType.value_counts()
outcome_counts

ADOPTION      45027
TRANSFER      23564
EUTHANASIA    16124
RELEASED       2249
DISPOSAL        979
FOSTER          859
DIED            476
MISSING         243
NO SHOW          22
ET PROCESS        8
RELEASE           5
MISSING EX        2
Name: OutcomeType, dtype: int64

In [36]:
df.loc[df['OutcomeType'].str.contains('RTO-ADOPT'), 'OutcomeType'] = df.loc[df['OutcomeType'].str.contains('RTO-ADOPT'), 'OutcomeType'].str.replace('RTO-ADOPT', 'ADOPTION')

In [37]:
df.loc[df['OutcomeType'].str.contains('RTF'), 'OutcomeType'] = df.loc[df['OutcomeType'].str.contains('RTF'), 'OutcomeType'].str.replace('RTF', 'FOSTER')

In [38]:
df.loc[df['OutcomeType'].str.contains('TRANSPORT'), 'OutcomeType'] = df.loc[df['OutcomeType'].str.contains('TRANSPORT'), 'OutcomeType'].str.replace('TRANSPORT', 'TRANSFER')

In [39]:
df.loc[df['OutcomeType'].str.contains('EUTHANASIA'), 'OutcomeType'] = df.loc[df['OutcomeType'].str.contains('EUTHANASIA'), 'OutcomeType'].str.replace('EUTHANASIA', 'EUTH')

In [40]:
df.loc[df['OutcomeType'].str.contains('EUTH'), 'OutcomeType'] = df.loc[df['OutcomeType'].str.contains('EUTH'), 'OutcomeType'].str.replace('EUTH', 'EUTHANASIA')

In [42]:
df.loc[df['OutcomeType'].str.contains('RELOCATE'), 'OutcomeType'] = df.loc[df['OutcomeType'].str.contains('RELOCATE'), 'OutcomeType'].str.replace('RELOCATE', 'TRANSFER')

In [44]:
remove = ['RELEASED', 'DIED', 'MISSING', 'NO SHOW', 'ET PROCESS', 'RELEASE', 'MISSING EX', 'DISPOSAL']
# 89558 rows before
for index, row in df.iterrows():
    if row[1] in remove:
        df.drop(index, inplace=True)
df

,BreedCategory,OutcomeType,Pet_age_category,PrimaryBreed,PrimaryColor,Sex
0,Pure,EUTHANASIA,Young,PIT BULL,WHITE,Male
1,Mix,ADOPTION,Young,BORDER COLLIE,BLACK,Female
2,Mix,ADOPTION,Young,GOLDEN RETRIEVER,TAN,Male
3,Pure,ADOPTION,Baby,LABRADOR RETRIEVER,WHITE,Female
4,Pure,EUTHANASIA,Young,PIT BULL,BLACK,Male
...,...,...,...,...,...,...
89553,Mix,EUTHANASIA,Senior,MINIATURE SCHNAUZER,Gray,Male
89554,Mix,ADOPTION,Senior,CHIHUAHUA,White,Male
89555,Pure,EUTHANASIA,Senior,MINIATURE POODLE,White,Female
89556,Mix,TRANSFER,Senior,CHIHUAHUA,Brown,Male
89557,Two,EUTHANASIA,Senior,CHIHUAHUA,White,Female

In [45]:
outcome_counts2 = df.OutcomeType.value_counts()
outcome_counts2

ADOPTION      45027
TRANSFER      23564
EUTHANASIA    16124
FOSTER          859
Name: OutcomeType, dtype: int64

In [49]:
breed_counts2 = df.PrimaryBreed.value_counts()
breed_counts2.head(20)

PIT BULL                          14013
LABRADOR RETRIEVER                11523
CHIHUAHUA                          8272
GERMAN SHEPHERD                    5681
BEAGLE                             3351
BOXER                              2475
AUSTRALIAN CATTLE DOG              2181
BORDER COLLIE                      1856
DACHSHUND                          1790
JACK RUSSELL TERRIER               1430
SHIH TZU                           1399
ROTTWEILER                         1370
SIBERIAN HUSKY                     1107
YORKSHIRE TERRIER                  1098
AUSTRALIAN SHEPHERD                1094
AMERICAN STAFFORDSHIRE TERRIER     1036
CHOW CHOW                           973
RAT TERRIER                         882
GREAT PYRENEES                      760
CAIRN TERRIER                       748
Name: PrimaryBreed, dtype: int64

In [65]:
top_20_breeds = pd.DataFrame(breed_counts2.head(20))
top_breeds = top_20_breeds.reset_index(drop = False)
top_breeds = top_breeds.rename(columns={"index": "PrimaryBreed", "PrimaryBreed": "count"})
top_breeds

                      PrimaryBreed  count
0                         PIT BULL  14013
1               LABRADOR RETRIEVER  11523
2                        CHIHUAHUA   8272
3                  GERMAN SHEPHERD   5681
4                           BEAGLE   3351
5                            BOXER   2475
6            AUSTRALIAN CATTLE DOG   2181
7                    BORDER COLLIE   1856
8                        DACHSHUND   1790
9             JACK RUSSELL TERRIER   1430
10                        SHIH TZU   1399
11                      ROTTWEILER   1370
12                  SIBERIAN HUSKY   1107
13               YORKSHIRE TERRIER   1098
14             AUSTRALIAN SHEPHERD   1094
15  AMERICAN STAFFORDSHIRE TERRIER   1036
16                       CHOW CHOW    973
17                     RAT TERRIER    882
18                  GREAT PYRENEES    760
19                   CAIRN TERRIER    748

In [73]:
#make breed outcome counts csv
a_count = []
t_count = []
f_count = []
e_count = []

for index, row in top_breeds.iterrows():
    breed = row[0]  
    a_sum = 0
    t_sum = 0
    f_sum = 0
    e_sum = 0
    
    for index2, row2 in df.iterrows(): 
        
        if row2[3] == breed:
            outcome = row2[1]
          
            if outcome == 'ADOPTION':
                a_sum += 1
            elif outcome == 'EUTHANASIA':
                e_sum +=1
            elif outcome == 'TRANSFER':
                t_sum +=1
            else:
                f_sum +=1
    a_count.append(a_sum)
    e_count.append(e_sum)
    t_count.append(t_sum)
    f_count.append(f_sum)
            
           
a_count

[5533,
 6388,
 5102,
 2965,
 1609,
 1269,
 1500,
 1048,
 1115,
 838,
 532,
 534,
 687,
 576,
 637,
 650,
 194,
 554,
 424,
 517]

In [74]:
breeds_df = top_breeds
breeds_df['Adoption'] = a_count
breeds_df['Euthanasia'] = e_count
breeds_df['Transfer'] = t_count
breeds_df['Foster'] = f_count
breeds_df

,PrimaryBreed,count,Adoption,Euthanasia,Transfer,Foster
0,PIT BULL,14013,5533,5405,2894,181
1,LABRADOR RETRIEVER,11523,6388,1895,3145,95
2,CHIHUAHUA,8272,5102,521,2530,119
3,GERMAN SHEPHERD,5681,2965,1160,1516,40
4,BEAGLE,3351,1609,709,981,52
5,BOXER,2475,1269,519,662,25
6,AUSTRALIAN CATTLE DOG,2181,1500,122,547,12
7,BORDER COLLIE,1856,1048,274,520,14
8,DACHSHUND,1790,1115,126,542,7
9,JACK RUSSELL TERRIER,1430,838,154,415,23
10,SHIH TZU,1399,532,187,662,18
11,ROTTWEILER,1370,534,598,222,16
12,SIBERIAN HUSKY,1107,687,182,235,3
13,YORKSHIRE TERRIER,1098,576,125,380,17
14,AUSTRALIAN SHEPHERD,1094,637,147,301,9
15,AMERICAN STAFFORDSHIRE TERRIER,1036,650,166,202,18
16,CHOW CHOW,973,194,591,184,4
17,RAT TERRIER,882,554,67,253,8
18,GREAT PYRENEES,760,424,31,301,4
19,CAIRN TERRIER,748,517,32,198,1

In [75]:
#make gender outcome types csv
a_count = []
t_count = []
f_count = []
e_count = []
gender = ['Female', 'Male']

for g in gender:
    a_sum = 0
    t_sum = 0
    f_sum = 0
    e_sum = 0
    
    for index, row in df.iterrows(): 
    
        if row[5] == g:
            outcome = row[1]
            if outcome == 'ADOPTION':
                a_sum += 1
            elif outcome == 'EUTHANASIA':
                e_sum +=1
            elif outcome == 'TRANSFER':
                t_sum +=1
            else:
                f_sum +=1

    a_count.append(a_sum)
    e_count.append(e_sum)
    t_count.append(t_sum)
    f_count.append(f_sum)

In [76]:
gender_df = pd.DataFrame(list(zip(gender, a_count)), 
               columns =['Sex', 'Adoption']) 
gender_df['Euthanasia'] = e_count
gender_df['Transfer'] = t_count
gender_df['Foster'] = f_count
gender_df

      Sex  Adoption  Euthanasia  Transfer  Foster
0  Female     21672        7115     11113     456
1    Male     23355        9009     12451     403

In [77]:
#make age outcome count csv
a_count = []
t_count = []
f_count = []
e_count = []
age_cate = ['Baby', 'Young', 'Adult', 'Senior']

for age in age_cate:
    a_sum = 0
    t_sum = 0
    f_sum = 0
    e_sum = 0
    
    for index, row in df.iterrows(): 
    
        if row[2] == age:
            outcome = row[1]
            if outcome == 'ADOPTION':
                a_sum += 1
            elif outcome == 'EUTHANASIA':
                e_sum +=1
            elif outcome == 'TRANSFER':
                t_sum +=1
            else:
                f_sum +=1

    a_count.append(a_sum)
    e_count.append(e_sum)
    t_count.append(t_sum)
    f_count.append(f_sum)

In [78]:
age_group_df = pd.DataFrame(list(zip(age_cate, a_count)), 
               columns =['Age Group', 'Adoption']) 
age_group_df['Euthanasia'] = e_count
age_group_df['Transfer'] = t_count
age_group_df['Foster'] = f_count
age_group_df

  Age Group  Adoption  Euthanasia  Transfer  Foster
0      Baby     11880        1709      5439     280
1     Young     20871        4504      9143     214
2     Adult     10080        5328      6716     262
3    Senior      2196        4583      2266     103

In [103]:
# df['PrimaryColor'] = df["PrimaryColor"].str.upper()
color_counts = df.PrimaryColor.value_counts()
color_counts

BLACK       24278
WHITE       14943
BROWN       14647
TAN         11503
BRINDLE      4967
TRICOLOR     4086
BLUE         4084
RED          3561
YELLOW       1504
MERLE         841
SABLE         824
TICK          336
Name: PrimaryColor, dtype: int64

In [82]:
#Yellows
df.loc[df['PrimaryColor'].str.contains('GOLD'), 'PrimaryColor'] = df.loc[df['PrimaryColor'].str.contains('GOLD'), 'PrimaryColor'].str.replace('GOLD', 'YELLOW')

In [83]:
#tans
df.loc[df['PrimaryColor'].str.contains('CHAMPAIGN'), 'PrimaryColor'] = df.loc[df['PrimaryColor'].str.contains('CHAMPAIGN'), 'PrimaryColor'].str.replace('CHAMPAIGN', 'TAN')
df.loc[df['PrimaryColor'].str.contains('BEIGE'), 'PrimaryColor'] = df.loc[df['PrimaryColor'].str.contains('BEIGE'), 'PrimaryColor'].str.replace('BEIGE', 'TAN')
df.loc[df['PrimaryColor'].str.contains('BLONDE'), 'PrimaryColor'] = df.loc[df['PrimaryColor'].str.contains('BLONDE'), 'PrimaryColor'].str.replace('BLONDE', 'TAN')
df.loc[df['PrimaryColor'].str.contains('APRICOT'), 'PrimaryColor'] = df.loc[df['PrimaryColor'].str.contains('APRICOT'), 'PrimaryColor'].str.replace('APRICOT', 'TAN')
df.loc[df['PrimaryColor'].str.contains('BUFF'), 'PrimaryColor'] = df.loc[df['PrimaryColor'].str.contains('BUFF'), 'PrimaryColor'].str.replace('BUFF', 'TAN')
df.loc[df['PrimaryColor'].str.contains('FAWN'), 'PrimaryColor'] = df.loc[df['PrimaryColor'].str.contains('FAWN'), 'PrimaryColor'].str.replace('FAWN', 'TAN')

In [84]:
#blue
df.loc[df['PrimaryColor'].str.contains('BLUE SMOKE'), 'PrimaryColor'] = df.loc[df['PrimaryColor'].str.contains('BLUE SMOKE'), 'PrimaryColor'].str.replace('BLUE SMOKE', 'BLUE')
df.loc[df['PrimaryColor'].str.contains('BLUE CREAM'), 'PrimaryColor'] = df.loc[df['PrimaryColor'].str.contains('BLUE CREAM'), 'PrimaryColor'].str.replace('BLUE CREAM', 'BLUE')
df.loc[df['PrimaryColor'].str.contains('SILVER'), 'PrimaryColor'] = df.loc[df['PrimaryColor'].str.contains('SILVER'), 'PrimaryColor'].str.replace('SILVER', 'BLUE')
df.loc[df['PrimaryColor'].str.contains('GRAY'), 'PrimaryColor'] = df.loc[df['PrimaryColor'].str.contains('GRAY'), 'PrimaryColor'].str.replace('GRAY', 'BLUE')

In [85]:
#brindle
df.loc[df['PrimaryColor'].str.contains('CREAM TIGER'), 'PrimaryColor'] = df.loc[df['PrimaryColor'].str.contains('CREAM TIGER'), 'PrimaryColor'].str.replace('CREAM TIGER', 'BRINDLE')
df.loc[df['PrimaryColor'].str.contains('YELLOW BRINDLE'), 'PrimaryColor'] = df.loc[df['PrimaryColor'].str.contains('YELLOW BRINDLE'), 'PrimaryColor'].str.replace('YELLOW BRINDLE', 'BRINDLE')
df.loc[df['PrimaryColor'].str.contains('BROWN TABBY'), 'PrimaryColor'] = df.loc[df['PrimaryColor'].str.contains('BROWN TABBY'), 'PrimaryColor'].str.replace('BROWN TABBY', 'BRINDLE')
df.loc[df['PrimaryColor'].str.contains('GRAY TIGER'), 'PrimaryColor'] = df.loc[df['PrimaryColor'].str.contains('GRAY TIGER'), 'PrimaryColor'].str.replace('GRAY TIGER', 'BRINDLE')
df.loc[df['PrimaryColor'].str.contains('BLACK TIGER'), 'PrimaryColor'] = df.loc[df['PrimaryColor'].str.contains('BLACK TIGER'), 'PrimaryColor'].str.replace('BLACK TIGER', 'BRINDLE')
df.loc[df['PrimaryColor'].str.contains('BROWN TIGER'), 'PrimaryColor'] = df.loc[df['PrimaryColor'].str.contains('BROWN TIGER'), 'PrimaryColor'].str.replace('BROWN TIGER', 'BRINDLE')
df.loc[df['PrimaryColor'].str.contains('BLUE TIGER'), 'PrimaryColor'] = df.loc[df['PrimaryColor'].str.contains('BLUE TIGER'), 'PrimaryColor'].str.replace('BLUE TIGER', 'BRINDLE')
df.loc[df['PrimaryColor'].str.contains('BLACK BRINDLE'), 'PrimaryColor'] = df.loc[df['PrimaryColor'].str.contains('BLACK BRINDLE'), 'PrimaryColor'].str.replace('BLACK BRINDLE', 'BRINDLE')
df.loc[df['PrimaryColor'].str.contains('BROWN BRINDLE'), 'PrimaryColor'] = df.loc[df['PrimaryColor'].str.contains('BROWN BRINDLE'), 'PrimaryColor'].str.replace('BROWN BRINDLE', 'BRINDLE')

In [102]:
#MERLE
df.loc[df['PrimaryColor'].str.contains('BLUE MERLE'), 'PrimaryColor'] = df.loc[df['PrimaryColor'].str.contains('BLUE MERLE'), 'PrimaryColor'].str.replace('BLUE MERLE', 'MERLE')
df.loc[df['PrimaryColor'].str.contains('RED MERLE'), 'PrimaryColor'] = df.loc[df['PrimaryColor'].str.contains('RED MERLE'), 'PrimaryColor'].str.replace('RED MERLE', 'MERLRE')
df.loc[df['PrimaryColor'].str.contains('BROWN MERLE'), 'PrimaryColor'] = df.loc[df['PrimaryColor'].str.contains('BROWN MERLE'), 'PrimaryColor'].str.replace('BROWN MERLE', 'MERLE')
df.loc[df['PrimaryColor'].str.contains('MERLRE'), 'PrimaryColor'] = df.loc[df['PrimaryColor'].str.contains('MERLRE'), 'PrimaryColor'].str.replace('MERLRE', 'MERLE')

In [98]:
#red
df.loc[df['PrimaryColor'].str.contains('ORANGE'), 'PrimaryColor'] = df.loc[df['PrimaryColor'].str.contains('ORANGE'), 'PrimaryColor'].str.replace('ORANGE', 'RED')
df.loc[df['PrimaryColor'].str.contains('RUDDY'), 'PrimaryColor'] = df.loc[df['PrimaryColor'].str.contains('RUDDY'), 'PrimaryColor'].str.replace('RUDDY', 'RED')

In [91]:
#CHOCOLATE
df.loc[df['PrimaryColor'].str.contains('CHOCOLATE'), 'PrimaryColor'] = df.loc[df['PrimaryColor'].str.contains('CHOCOLATE'), 'PrimaryColor'].str.replace('CHOCOLATE', 'BROWN')
df.loc[df['PrimaryColor'].str.contains('LIVER'), 'PrimaryColor'] = df.loc[df['PrimaryColor'].str.contains('LIVER'), 'PrimaryColor'].str.replace('LIVER', 'BROWN')

In [87]:
#WHITE
df.loc[df['PrimaryColor'].str.contains('CREAM'), 'PrimaryColor'] = df.loc[df['PrimaryColor'].str.contains('CREAM'), 'PrimaryColor'].str.replace('CREAM', 'WHITE')

In [99]:
#TICK
df.loc[df['PrimaryColor'].str.contains('RED TICKED'), 'PrimaryColor'] = df.loc[df['PrimaryColor'].str.contains('RED TICKED'), 'PrimaryColor'].str.replace('RED TICKED', 'TICK')
df.loc[df['PrimaryColor'].str.contains('BLUE TICKED'), 'PrimaryColor'] = df.loc[df['PrimaryColor'].str.contains('BLUE TICKED'), 'PrimaryColor'].str.replace('BLUE TICKED', 'TICK')
df.loc[df['PrimaryColor'].str.contains('RED TICK'), 'PrimaryColor'] = df.loc[df['PrimaryColor'].str.contains('RED TICK'), 'PrimaryColor'].str.replace('RED TICK', 'TICK')
df.loc[df['PrimaryColor'].str.contains('BLUE TICK'), 'PrimaryColor'] = df.loc[df['PrimaryColor'].str.contains('BLUE TICK'), 'PrimaryColor'].str.replace('BLUE TICK', 'TICK')
df.loc[df['PrimaryColor'].str.contains('LIVER TICK'), 'PrimaryColor'] = df.loc[df['PrimaryColor'].str.contains('LIVER TICK'), 'PrimaryColor'].str.replace('LIVER TICK', 'TICK')
df.loc[df['PrimaryColor'].str.contains('BROWN TICK'), 'PrimaryColor'] = df.loc[df['PrimaryColor'].str.contains('BROWN TICK'), 'PrimaryColor'].str.replace('BROWN TICK', 'TICK')

In [93]:
#BLACK
df.loc[df['PrimaryColor'].str.contains('BLACK SMOKE'), 'PrimaryColor'] = df.loc[df['PrimaryColor'].str.contains('BLACK SMOKE'), 'PrimaryColor'].str.replace('BLACK SMOKE', 'BLACK')

In [94]:
#SABLE
df.loc[df['PrimaryColor'].str.contains('AGOUTI'), 'PrimaryColor'] = df.loc[df['PrimaryColor'].str.contains('AGOUTI'), 'PrimaryColor'].str.replace('AGOUTI', 'SABLE')

In [100]:
#TRICOLOR
df.loc[df['PrimaryColor'].str.contains('CALICO'), 'PrimaryColor'] = df.loc[df['PrimaryColor'].str.contains('CALICO'), 'PrimaryColor'].str.replace('CALICO', 'TRICOLOR')

In [104]:
colors_df = pd.DataFrame(color_counts)
colors_df = colors_df.reset_index(drop = False)
colors_df = colors_df.rename(columns={"index": "PrimaryColor", "PrimaryColor": "count"})
colors_df

   PrimaryColor  count
0         BLACK  24278
1         WHITE  14943
2         BROWN  14647
3           TAN  11503
4       BRINDLE   4967
5      TRICOLOR   4086
6          BLUE   4084
7           RED   3561
8        YELLOW   1504
9         MERLE    841
10        SABLE    824
11         TICK    336

In [105]:
#make color outcome counts csv
a_count = []
t_count = []
f_count = []
e_count = []

for index, row in colors_df.iterrows():
    color = row[0]  
    a_sum = 0
    t_sum = 0
    f_sum = 0
    e_sum = 0
    
    for index2, row2 in df.iterrows(): 
        
        if row2[4] == color:
            outcome = row2[1]
          
            if outcome == 'ADOPTION':
                a_sum += 1
            elif outcome == 'EUTHANASIA':
                e_sum +=1
            elif outcome == 'TRANSFER':
                t_sum +=1
            else:
                f_sum +=1
    a_count.append(a_sum)
    e_count.append(e_sum)
    t_count.append(t_sum)
    f_count.append(f_sum)

In [106]:
colors_df['Adoption'] = a_count
colors_df['Euthanasia'] = e_count
colors_df['Transfer'] = t_count
colors_df['Foster'] = f_count
colors_df

   PrimaryColor  count  Adoption  Euthanasia  Transfer  Foster
0         BLACK  24278     12501        5062      6475     240
1         WHITE  14943      7936        2260      4590     157
2         BROWN  14647      7501        3169      3834     143
3           TAN  11503      6333        1839      3213     118
4       BRINDLE   4967      2504        1200      1203      60
5      TRICOLOR   4086      2323         583      1145      35
6          BLUE   4084      2096         863      1067      58
7           RED   3561      1851         720       965      25
8        YELLOW   1504       685         309       494      16
9         MERLE    841       517          76       242       6
10        SABLE    824       539          34       251       0
11         TICK    336       241           9        85       1

In [107]:
breeds_df.to_csv('breeds.csv', index=False)
age_group_df.to_csv('age_group.csv', index=False)
gender_df.to_csv('gender.csv', index=False)
colors_df.to_csv('colors.csv', index=False)